*
{
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

img
{
    max-width: 100%;
}

body
{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(187,228,255);
    background: linear-gradient(180deg, rgba(187,228,255,1) 0%, rgba(92,188,247,1) 10%, rgba(6,59,104,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name
{
    margin-top: 50px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
}

.figLabel
{
    color: #EEF4FF;
    font-size: 18px;
    margin-bottom: -8px;
}

.figNum
{
    color: #001120;
    font-size: 50px;
}

#response
{
    margin-top: 20px;
    color: #001120;
    font-size: 16px;
}

#whiteSquare
{
    width: 100%;
    background-color: #FFFFFF;
    border: 2px solid #BBE4FF;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72.6vh;
    bottom: 0;
}

#mainDiv
{
    height: 27.4vh;
    width: 100%;
}

#figureDiv
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

#bulbDiv
{
    padding: 19px 44px;
    background-color: #EEF4FF;
    border: 1px solid #5CBCF7;
    border-radius: 20px;
    margin-top: 25px;
}

.toggleWrapper
{
    position: relative;
    width: 275px;
    height: 40px;
    margin-top: 50px;
}

.toggleCheckbox
{
    display:none;
}

/* The switch button "rail" */
.slider
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEF4FF;
    border: 1px solid #5CBCF7;
    border-radius: 20px;
}

/* The switch button itself */
.slider::before
{
    position: absolute;
    content: "";
    height: 34px;
    width: 134px;
    right: 1px;
    bottom: 1px;
    background-color: #5CBCF7;
    border: 1px solid #5CBCF7;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
}

.toggleCheckbox:not(:checked) + .slider::before
{
    transform: translateX(-135px);
}
  
.onOff
{
    color: #001120;
    font-size: 16px;
    z-index: 9999;
}